/* Base Styles */
:root {
    /* Colors */
    --primary-color: #12141D;
    --secondary-color: #043A53;
    --tertiary-color: #404040;
    --quaternary-color: #fff;
    --quinary-color: #000000;
    --senary-color: #92A7B0;
    --septenary-color: #000000;
    --hover-color: #035a73;
    /* neutral-color */
    --primary-bg: #F2F5F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* fallback fontfamily sans-serif  */
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--quaternary-color);
    overflow-x: hidden;

}

.container {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* Header Styles */
header {
    width: 100%;
    background-color: var(--primary-bg);
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 98px;
}

@media screen and (max-width: 480px) {
    header {
        padding: 24px 20px;
    }
}

/* ........................................................................................................................ */
/* header-navbar section  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    height: 24px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-links-desktop {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav-links-desktop li a {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease;
}

.nav-links-desktop li a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--secondary-color);
    font-size: 16px;
}

.nav-buttons-desktop {
    display: flex;
    gap: 10px;
}

.nav-buttons-desktop button,
.nav-buttons-mobile button {
    padding: 8px 16px;
    border: none;
    border-radius: 42px;
    cursor: pointer;
    min-height: 44px;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
}

.nav-buttons-desktop button:first-child,
.nav-buttons-mobile button:first-child {
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
}

.nav-buttons-desktop button:first-child:hover,
.nav-buttons-mobile button:first-child:hover {
    border: 1px solid var(--secondary-color);
}

.nav-buttons-desktop button:last-child,
.nav-buttons-mobile button:last-child {
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
}

.nav-buttons-desktop button:last-child:hover,
.nav-buttons-mobile button:last-child:hover {
    background-color: var(--hover-color);
}

.menu-toggle,
.hamburger,
.mobile-menu,
.nav-links-mobile,
.nav-buttons-mobile,
.close-menu {
    display: none;
}

.hamburger {
    flex-direction: column;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 1001;
}

.hamburger img {
    width: 100%;
    height: 100%;
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
}

@media screen and (max-width: 1024px) {
    .nav-links-desktop {
        gap: 20px;
    }
}

@media screen and (max-width: 940px) {

    .nav-links-desktop,
    .nav-buttons-desktop {
        display: none;
    }

    .hamburger {
        display: flex;
        margin-left: auto;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: var(--quaternary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        transition: right 0.3s ease-in-out;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .menu-toggle:checked~.mobile-menu {
        right: 0;
    }

    .nav-links-mobile {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 30px;
        align-items: center;
        width: 100%;
    }

    .nav-links-mobile li a {
        color: var(--primary-color);
        font-weight: 700;
        font-size: 16px;
    }

    .nav-links-mobile li a:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
        color: var(--secondary-color);
    }

    .nav-buttons-mobile {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        position: absolute;
        bottom: 80px;
    }

    .close-menu {
        display: block;
    }
}




/* ..................................................................................................................... */
/* main section style  */
main {
    margin-top: 98px;
    width: 100%;
}

/* responsive style for smaller screen  */
@media screen and (max-width: 900px) {

    main {
        margin-top: 72px;
        width: 100%;
    }
}


/* .................................................................................................................. */
/* hero section */
.hero-container {
    width: 100%;
    background-color: var(--primary-bg);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 100px 150px;
    width: 100%;
    gap: 20px;
}

.hero-image {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.hero-content {
    flex: 0 0 60%;
    max-width: 700px;
}

.hero-content h1 {
    font-size: 4rem;
    line-height: 1.2;
}

.hero-content h1 .company-name {
    color: var(--secondary-color);
}

.hero-content p {
    font-size: 1.25rem;
    margin: 20px 0;
}

.hero-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.hero-buttons button {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.hero-buttons button:first-child {
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    border-radius: 55px;
    padding: 16px 24px;
    font-size: 18px;
    font-weight: 700;
}

.hero-buttons button:first-child:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}

.hero-buttons button:first-child:active {
    background-color: #033b4b;
    transform: scale(0.98);
}

.video-button {
    background-color: transparent;
    color: var(--secondary-color);
    padding: 16px 24px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: all 0.3s ease;
    border-radius: 55px;
}

.video-button:hover {
    background-color: rgba(4, 58, 83, 0.1);
    transform: scale(1.05);
}

.video-button:active {
    background-color: rgba(4, 58, 83, 0.2);
    transform: scale(0.98);
}

.video-button-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
}

/* responsive layout for screen sizes between 1380px and 1200px  */
@media screen and (max-width: 1380px) {
    .hero-container {
        padding: 40px 10%;
    }

    .hero {
        padding: 80px 10%;
        justify-content: center;
    }

    .hero-image {
        flex: 0 0 25%;
    }

    .hero-content {
        flex: 0 0 55%;
    }

    .hero-content h1 {
        font-size: 3.5rem;
    }

    .hero-content p {
        font-size: 1.3rem;
    }

    .hero-buttons {
        margin-top: 40px;
    }

    .hero-buttons button {
        font-size: 18px;
    }
}

/* responsive layout for screen sizes between 900px and 1200px*/
@media screen and (max-width: 1200px) {
    .hero-container {
        padding: 30px 6%;
    }

    .hero {
        padding: 60px 6%;
        justify-content: center;
    }

    .hero-image {
        flex: 0 0 30%;
    }

    .hero-content {
        flex: 0 0 50%;
    }

    .hero-content h1 {
        font-size: 3.2rem;
    }

    .hero-content p {
        font-size: 1.25rem;
    }

    .hero-buttons {
        margin-top: 30px;
    }

    .hero-buttons button {
        font-size: 17px;
    }
}

/* responsive layout for screen sizes between 900px to 768px */
@media screen and (max-width: 900px) {
    .hero-container {
        padding: 30px 4%;
    }

    .hero {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 4%;
        justify-content: center;
    }

    .hero-content {
        flex: 0 0 100%;
        order: 1;
        margin-bottom: 30px;
        width: 100%;
    }

    .hero-image {
        flex: 0 0 45%;
        order: 2;
        max-width: 200px;
        margin: 0 10px;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .hero-buttons button {
        width: 100%;
        max-width: 250px;
    }

    .hero-content h1 {
        font-size: 2.8rem;
    }
}

/* responsive layout for screen sizes between 768px and 480px  */
@media screen and (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 640px) {
    .hero {
        padding: 30px 3%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-image {
        flex: 0 0 40%;
        margin: 10px 0;
    }
}

/* responsive layout for screen sizes below 480px  */
@media screen and (max-width: 480px) {
    .hero-content h1 {
        font-size: 1.75rem;
    }

    .hero-buttons button:first-child,
    .video-button {
        font-size: 16px;
        padding: 12px 20px;
    }

    .video-button-icon {
        width: 30px;
        height: 30px;
    }

    .hero-image {
        flex: 0 0 40%;
        margin: 10px 0;
    }
}


/* .....................................................................................................................  */
/* Trusted by brands section  */
.trusted-by {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    padding: 50px 150px;
    flex-direction: row;
}

.trusted-by p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.trusted-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    flex-wrap: wrap;
}

/* Responsive layout for screen sizes below 1024px */
@media screen and (max-width: 1024px) {
    .trusted-by {
        flex-direction: column;
        gap: 30px;
        padding: 50px 5%;
    }

    .trusted-by p {
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .trusted-logos {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .trusted-logos img {
        height: 24px;
    }
}

@media screen and (max-width: 480px) {
    .trusted-by {
        padding: 50px 20px;
        margin-bottom: 0;
    }

    .trusted-logos {
        gap: 20px;
    }

    .trusted-logos img {
        height: 20px;
    }
}

/* ..................................................................................................  */

.video-section {
    width: 100%;
    padding: 100px 150px 0px 150px;
    background-color: var(--secondary-color);
    color: var(--quaternary-color);

}

.video-text-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    flex-wrap: wrap;
}

.video-text-container div:first-child {
    flex: 1;
}

.video-text-container div:first-child h1 {
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 72px;
    letter-spacing: -2%;
    color: var(--quaternary-color);
}

.video-text-container h1 span {
    display: block;
    color: #F0B73F;
}

.video-text-container div:last-child {
    width: 38%;
}

.video-text-container div:last-child p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: var(--quaternary-color);
}


.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.video_image {
    width: 100%;
    max-width: 100%;
    border-radius: 16px 16px 0 0;
    display: block;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vw;
    height: 10vw;
    max-width: 80px;
    max-height: 80px;
    min-width: 40px;
    min-height: 40px;
    z-index: 10;
    background-color: var(--quaternary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play-button img {
    width: 50%;
    height: auto;
    max-width: 20px;
    max-height: 20px;
}

/* video section's responsiveness for various screen sizes  */

@media screen and (max-width: 1024px) {

    .video-text-container {
        flex-direction: column;
    }

    .video-text-container div:first-child h1 {
        font-size: 2.5rem;
        line-height: 48px;
    }

    .video-text-container div:last-child {
        width: 100%;
        margin-top: 20px;
    }

    .video-text-container div:last-child p {
        font-size: 18px;
        line-height: 28px;
    }

    .video-section {
        margin-top: 0px;
        padding: 40px 40px 0px 40px;
    }
}

@media screen and (max-width: 768px) {
    .video-text-container div:first-child h1 {
        font-size: 2rem;
        line-height: 40px;
    }

    .video-section {
        margin-top: 0px;
        padding: 50px 40px 0px 40px;
    }
}

@media screen and (max-width: 480px) {
    .video-section {
        padding: 50px 20px 0px 20px;
    }

    .video-text-container {
        margin-bottom: 30px;
    }

    .video-text-container div:first-child h1 {
        font-size: 1.875rem;
        line-height: 36px;
    }

    .video-text-container div:last-child p {
        font-size: 14px;
        line-height: 20px;
    }

    .video_image {
        border-radius: 8px 8px 0 0;
    }

    .play-button img {
        max-width: 14px;
        max-height: 14px;
    }

}

/* ................................................................................................... */
/* benefits section  */
.beneficial-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 100px 150px;
    gap: 64px;
}

.beneficial-box1 {
    width: 17%;
    min-width: 256px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}

.beneficial-box1-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -1%;
}

.beneficial-box1-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}

.beneficial-box1 button {
    padding: 10px 24px;
    border: none;
    background-color: var(--secondary-color);
    border-radius: 100px;
    font-weight: 400;
    width: 48%;
    min-width: 120px;
    height: auto;
    min-height: 40px;
    color: var(--quaternary-color);
    font-size: 1.125rem;
    line-height: 1.4rem;
    text-align: center;
    white-space: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beneficial-box2 {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.beneficial-box2>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background-color: var(--primary-bg);
    padding: 32px 24px;
    border-radius: 16px;

}

.beneficial-box2>div h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

}

.beneficial-box2>div p {
    margin-top: 10px;
    color: var(--tertiary-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
}

/* benefits section's responsiveness for various screen sizes  */
@media (max-width: 1024px) {
    .beneficial-container {
        padding: 60px 80px;
        gap: 40px;
    }

    .beneficial-box1 {
        width: 100%;
        min-width: auto;
        align-items: center;
        text-align: center;
    }

    .beneficial-box1-title {
        font-size: 48px;
        line-height: 50px;
    }

    .beneficial-box2 {
        flex-direction: column;
        width: 100%;
    }

    .beneficial-box2>div {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .beneficial-container {
        padding: 40px 20px;
        gap: 32px;
    }

    .beneficial-box1 {
        gap: 20px;
    }

    .beneficial-box1-title {
        font-size: 36px;
        line-height: 40px;
    }

    .beneficial-box1-description {
        font-size: 16px;
        line-height: 24px;
    }

    .beneficial-box1 button {
        width: auto;
    }

    .beneficial-box2 {
        gap: 24px;
    }

    .beneficial-box2>div {
        padding: 24px 16px;
    }

    .beneficial-box2>div h4 {
        font-size: 20px;
        line-height: 28px;
    }

    .beneficial-box2>div p {
        font-size: 16px;
        line-height: 24px;
    }
}

/* .................................................................................  */
/* Building Bridges section */
.building-bridge-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    background-color: var(--quaternary-color);
    gap: 77px;
}

.image-section {
    flex: 1;
    position: relative;
    max-width: 50%;
    display: flex;
    order: 1;
}

.image-section img {
    width: 100%;
    border-radius: 8px;
}

.award-badge {
    position: absolute;
    bottom: 10%;
    right: -15%;
    width: 32%;
    max-width: 200px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--quaternary-color);
    ;
    text-align: center;
    /* optional */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 4px solid var(--quaternary-color);
    aspect-ratio: 1 / 1;
    padding: 0;
}

.badge-img {
    width: 20%;
    height: auto;
    margin-bottom: 5px;
}

.award-badge span {
    font-size: clamp(16px, 3vw, 36px);
    font-weight: bold;
    margin: 0;
    line-height: 1;
}

.award-badge p {
    font-size: clamp(8px, 1.5vw, 12px);
    margin: 0;
    max-width: 80%;
    line-height: 1.2;
    color: var(--quaternary-color);
}

.text-section {
    flex: 1;
    padding-left: 77px;
    order: 2
}

.text-section h3 {
    font-size: clamp(32px, 4vw, 60px);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 32px;
}

.text-section h3 span {
    color: var(--senary-color);
}

.text-section p {
    font-size: clamp(16px, 2vw, 20px);
    margin-bottom: 32px;
    line-height: 1.6;
}

.view-button {
    background-color: var(--secondary-color);
    color: var(--quaternary-color);
    padding: 16px 16px 16px 24px;
    border: none;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    cursor: pointer;
}

.view-button:hover {
    background-color: var(--hover-color);
}

.view-button p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    color: var(--quaternary-color)
}

.view-button div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-button div img {
    width: 100%;
    height: 100%;
}

/* responsive design for building bridge section  */
@media screen and (max-width: 1380px) {
    .building-bridge-section {
        margin-top: 120px;
    }
}

@media (max-width: 1024px) {
    .building-bridge-section {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        gap: 32px;
        text-align: center;
        margin-top: 0;
    }

    .image-section {
        max-width: 100%;
        order: 2
    }

    .text-section {
        max-width: 100%;
        padding-left: 60px;
        padding-right: 60px;
        order: 1
    }

    .award-badge {
        bottom: 10%;
        right: -10%;
        /* width: 25%; */
    }

    .award-badge span {
        font-size: 20px;
    }

    .award-badge p {
        font-size: 10px;
        max-width: 60px;
    }

    .view-button {
        width: 100%;
        max-width: 300px;
        margin: auto;
    }
}

@media (max-width: 900px) {
    .building-bridge-section {
        flex-direction: column;
        padding: 50px 20px;
    }

    .image-section,
    .text-section {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .award-badge {
        bottom: 15%;
        right: -5%;
        /* width: 20%; */
        padding: 10px;
    }

    .image-section {
        max-width: 90%;
    }

    /* .text-section{
        padding: 50px 20px;
    } */

}

@media (max-width: 600px) {
    .text-section h3 {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 16px;
    }

    .text-section p {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .view-button p {
        margin-bottom: 0;
    }

    .image-section {
        max-width: 80%;
    }

    .award-badge {
        bottom: 15%;
        right: -5%;
        /* width: 30%; */
        transform: translate(30%, 30%);
    }
}

@media (max-width: 400px) {
    .image-section {
        max-width: 100%;
    }

    .award-badge {
        bottom: 15%;
        right: 10%;
        width: 30%;
        transform: translate(30%, 30%);
    }
}

/* ............................................................................... */
/* number Section */
.stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    padding: 100px 150px;
    margin: 0 auto;
}

.stat-box {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.stat-box p:first-child {
    font-weight: 700;
    font-size: clamp(36px, 5vw, 60px);
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 8px;
}

.stat-box p:last-child {
    font-weight: 700;
    font-size: clamp(16px, 3vw, 24px);
    line-height: 1.3;
    text-align: center;
    color: var(--tertiary-color);
    margin-top: 0;
}

.stats div:first-child p:last-child {
    color: #1E1E1E;
}

/* media queries for number section */
@media (max-width: 1170px) {
    .stats {
        padding: 80px 100px;
    }

    .stat-box {
        flex: 1 1 180px;
    }
}

@media (max-width: 1090px) {
    .stats {
        padding: 60px 80px;
        justify-content: space-around;
    }

    .stat-box {
        flex: 0 0 45%;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .stats {
        padding: 50px 20px;
        gap: 16px;
        justify-content: space-between;
    }

    .stat-box {
        flex: 0 0 45%;
        padding: 15px;
        margin-bottom: 20px;
    }
}

@media (max-width: 300px) {
    .stats {
        padding: 30px 3%;
    }

    .stat-box {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}

/* ..........................................................................................  */
/* meet our founder section  */
.founder-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 100px 150px;
    width: 100%;
    height: 774px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.founder-container>div:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 64px;

}

.founder-container-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: var(--primary-color);
}

.founder-container-text-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    text-transform: capitalize;

}

.founder-container-text-description {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
}

.founder-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}

.founder-desc {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--tertiary-color);

}

.founder-button {
    width: 65%;
    min-width: 336px;
    max-width: 372px;
    background-color: var(--secondary-color);
    border-radius: 55px;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.founder-button p {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: var(--quaternary-color);

}

.img-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 574px;
}

.founder-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
/* responsiveness for founder section  */
@media (max-width: 1024px) {
    .founder-container {
        flex-direction: column;
        padding: 50px 20px;
        height: auto;
    }

    .founder-container>div {
        width: 100%;
    }

    .founder-container>div:first-child {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 32px;
    }

    .img-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .founder-button {
        width: 100%;
    }

    .founder-img {
        width: 80%;
        max-width: 450px;
        height: auto;
        object-fit: contain;
        object-position: center;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .founder-container {
        padding: 50px 20px;
    }

    .founder-container-text-title {
        font-size: 38px;
        line-height: 1.2;
    }

    .founder-container-text-description {
        font-size: 20px;
        line-height: 26px;
    }

    .founder-name {
        font-size: 18px;
    }

    .founder-desc {
        font-size: 14px;
    }

    .founder-img {
        width: 100%;
        max-width: none;
    }

    .founder-button {
        width: 100%;
        max-width: 320px;
        min-width: auto;
        padding: 10px 16px;
    }
}

@media (max-width: 480px) {
    .founder-container-text-title {
        font-size: 30px;
        line-height: 38px;
    }

    .founder-container-text-description {
        font-size: 16px;
        line-height: 24px;
    }

    .founder-name {
        font-size: 16px;
    }

    .founder-desc {
        font-size: 12px;
    }
}
/* ..........................................................................  */
.testimonial-section {
    padding: 100px 150px;
    background-color:var(--primary-bg);
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.testimonial-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.testimonial-title {
   
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
    margin: 0;
}

.slider-see-all {
   
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.slider-see-all::after {
    content: "→";
    margin-left: 16px;
    color: #043A53;
    font-weight: 700;
}

.slider-container {
    display: flex;
    gap: 24px;
    width: 100%;
}

.testimonial-card {
    background-color:var(--quaternary-color);
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.quote-icon {
    width: 47px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: left;
}

.quote-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.testimonial-text {
    font-weight: 400;
    font-size: 24px;
    line-height:1.3;
    letter-spacing: 0%;
    /* min-height:162px; */
    flex-grow: 1;
}

.testimonial-author {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.author-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.author-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-info p:first-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color:var(--septenary-color)
}

.author-info p:last-child {
   
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color:var(--tertiary-color)
}

.slider-dots {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.slider-dot {
    width: 20px;
    height: 12px;
    border-radius: 50%;
    background-color: #D7E0E5;
    border-radius: 10px;
}

.slider-dot.active {
    background-color: var(--secondary-color);
    width: 80px;
    height: 12px;
    border-radius: 10px;
}

.mobile-only {
    display: none;
}

/* media queries for testimonial section */
@media (max-width: 1200px){
    .testimonial-title{
        font-size: 48px;
        line-height: 58px;
    }
    .testimonial-section{
        padding: 80px 100px;
    }
}
@media (max-width: 900px) {
    .testimonial-section {
        gap: 32px;
    }

    .testimonial-title {
        text-align: center;
        width: 100%;
    }

    .testimonial-header {
        flex-direction: column;
        align-items: center;
    }

    .slider-container {
        flex-direction: column;
    }

    .testimonial-card:nth-child(2) {
        display: none;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: flex;
    }

    .mobile-only.slider-see-all {
        align-self: center;
    }
}
@media (max-width: 768px){
    .testimonial-title{
        font-size: 30px;
        line-height: 38px;
        width: 100%;
    }
    .testimonial-section {
        padding: 50px 20px;
    }
} 

